.container {
  list-style: none;
  width: 70%;
  margin: auto;
  padding: 0;
}
.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fafafa;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}
.item-text {
  margin: 0;
}
.delete-icon {
  cursor: pointer;
  color: red;
  font-size: 20px;
}
.delete-icon:hover {
  opacity: 0.7;
}
.create-btn {
  background-color: #4caf50;
  color: white;
  padding: 10px 24px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
